
.line-container{
    color: var(--text-color);
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
    display: block;
    align-items: center;
}
.header h1{
    margin: 25px auto 5px 60px;
    color: var(--text-color);
}
.machine-field{
  background-color: var(--sidebar-color);
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 5px;
}
.machine {
  text-decoration: none;
  padding: 5px;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: transparent;
  /* background-color: var(--sidebar-color); */
  border-radius: 20px;
  transition: 1s ease-in-out;
  display:block;
  height: 250px;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.scaling{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease-in-out;
}
.machine:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease-in-out;
    /* box-shadow: 0 10px 15px 0 rgba(4, 152, 251, 0.2), 0 6px 20px 0 rgba(8, 55, 109, 0.19); */
}
.machine img{
  width: auto;
  height: 150px;
}
.light-status {
  margin: auto;
    z-index: 1;
    width: 50px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.light-status div{
    width: 14px;
    height: 14px;
    border-radius: 7px;
}
.light-status .green-light.off, .light-status .yellow-light.off, .light-status .red-light.off{
    background-color: #ccc;
}
.light-status .green-light.on{
    background-color: rgb(10, 179, 10);
}
.light-status .yellow-light.on{
    background-color: rgb(252, 252, 11);
}
.light-status .red-light.on{
    background-color: rgb(252, 72, 72);
}
.error-container{
  border-radius: 20px;
  border: 2px solid #fff;
  background-color: var(--sidebar-color);
  margin: 15px 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 15px;
  height: 65px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.error-container button{
  width: fit-content;
  padding: 3px 20px;
  border: none;
  border-radius: 10px;
  background-color: #f01c1c;
  color: #fff;
}
.error-container button:hover{
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}
.machine-field::-webkit-scrollbar, .error-container::-webkit-scrollbar {
  margin: auto 10px;
  height: 15px;
}
/* width */
::-webkit-scrollbar {
  margin: auto 10px;
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  margin: auto 10px;
  background: #f1f1f1; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(191, 191, 191); 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120); 
  cursor: pointer;
}
/* Machine list table */

.bg-sorting-table{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 18px;
  color: rgb(60, 103, 133);
  background-color: rgb(60, 103, 133, .8);
  
  animation: background-fade 1s;
}
.sorting-table{
  border: solid 3px #005992;
  border-radius: 10px;
  left: 75%;
  right: 25%;
  transform: translate(-75%);
  position: fixed;
  width: 60%;
  display: block;
  background-color: #fff;
}
.header-tags{
  display: flex;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: #005992;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px ;
}
.table-list-machines{
    height: 620px;
    overflow: auto;
}
.table-machines tr:first-child th {
  position: sticky;
  top: 0;
  z-index: 10;
}
.table-machines th {
    text-align: left;
    padding-left: 10px;
    font-weight: 16;
    background-color: #3282B8;
    color: white;
  }
.table-machines{
  white-space: nowrap;
  text-overflow: ellipsis;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.table-machines td{
  width: auto;
    text-align: left;
    padding: 5px 10px;
    font-weight: 10;
}
.column-hide-detail{
  max-width: 40px;
}
.panel-func{
  margin-left: 20px;
  margin-top: 20px;
}
.menu-bottom{
  display: flex;
  justify-content: space-between;
}
/* 
.table-machines {
  table-layout: auto;
  width: 100%;
  color: var(--text-color);
}
.td-hide-detail{
  max-width:  30px;
}
.table-machines td, .table-machines th{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
}
.table-machines tr{
  background-color: var(--table-color2);
}
.table-machines tr:nth-child(even){
  background-color: var(--table-color);
}

.table-machines tr:hover {
  background-color: var(--highlight-text);
}

.table-machines th:first-child {
   border-top-left-radius: 15px;
  }
.table-machines th:last-child {
    border-top-right-radius: 15px;
  }

.table-machines th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0086DB;
  color: #fff;
} */
.list-machines .column-drag{
  width: 60px;
}
.table-machines input{
  cursor: default;
  border: 0;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
}

.column-drag:hover{
  cursor: grab;
}
.btn-set-lineup{
  margin: 0 20px 20px 0;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #fff;
  background-color: #0086DB;
  font-size: 16px;
}
.btn-set-lineup:hover{
  cursor: pointer;
  opacity: 0.8;
  border: 2px solid #004d80;
}
.head-pnl {
  margin: auto;
  width: 100%;
}