{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/home_view.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "main_templates/loading_spinner.html" %}
    {% include "main_templates/menubar.html" %}
    <section class="header">
        <div class="wrapper">
            <h1>{{val}}</h1>
            {% for val in plant_members %}
                <div class="card" >
                    <div class="content-plant">
                        <h3>{{ val.name }}</h3>
                        <div class="detail">
                            <p>{{val.detail}}</p>
                        </div>
                        <div class="detail-ip">IP info >
                            <span class="tooltip">{{val.ip1}} {{val.ip2}} {{val.ip3}} {{val.ip4}}</span>
                        </div>
                        <!-- <h3 id="onMsg"></h3> -->
                    </div>
                    <div class="lines" id="lines{{ val.name }}">
                        
                     </div>
                </div>
            {% endfor %}
            
        </div>
    </section>
    
    <script>
        var socket = new WebSocket('ws://localhost:8000/ws/app/');
        // var socket = new WebSocket('ws://10.234.232.101:8000/ws/app/');
        socket.onmessage = function(e){
            raw_data = JSON.parse(e.data);
            
            for(let i =0; i < raw_data.length; i++){
                content = ``;
                for(let j =0; j < raw_data[i]['line'].length; j++ ){

                    onlineNum = 0;
                    errorNum =0;
                    errorContext = "";
                    errorClass = "";
                    for(let k =0; k < raw_data[i]['line'][j]['machine'].length; k++){
                        if(raw_data[i]['line'][j]['machine'][k]['status'] == 1){
                            onlineNum = onlineNum + 1;
                        }
                        for(let l=0 ; l < raw_data[i]['line'][j]['machine'][k]['indicator'].length; l++){
                            if(raw_data[i]['line'][j]['machine'][k]['indicator'][l]['indicator_name'] == "status"){
                                if(raw_data[i]['line'][j]['machine'][k]['indicator'][l]['value'] == "1"){
                                    errorNum = errorNum + 1;
                                }
                            }
                        }
                        if(errorNum != 0){
                            errorContext = "Error " + String(errorNum) ;
                            errorClass = "error";
                        }
                        else{
                            errorContext = "Normal";
                            errorClass = "";
                        }
                    }
                    {% if user.is_authenticated %}
                        authentication_link = `<a href="line_view/pt${raw_data[i]['plant_name']}ln${raw_data[i]['line'][j]['line_name']}/">`;
                    {% else %}
                        authentication_link = ` <a href="{% url 'login_user' %}">`;
                    {% endif %}
                    content += authentication_link +`
                         <div class="line-item">
                            <div class="item-header">
                                <span>Line</span>
                                <h4>${raw_data[i]['line'][j]['line_name']}</h4>
                            </div>
                            <div class="item-status">
                                <p>Machine totals : ${raw_data[i]['line'][j]['machine'].length}
                                </p>
                                <div class="monitor">
                                    <label class="online">Online ${onlineNum}</label>
                                    <label class="status ${errorClass}">${errorContext}</label>
                                </div>
                            </div>
                        </div>
                    </a>
                    `;
                }
                var plantName = raw_data[i]['plant_name'];
                document.querySelector('#lines'+plantName+'').innerHTML = content;
            }
            
            
        }
        socket.onerror = function(e){
            console.log(`error : ${e}`);
        }
        
    </script>
</body>
</html>

<!-- onclick="location.href='line_view/pt${raw_data[i]['plant_name']}ln${raw_data[i]['line'][j]['line_name']}/';" -->