{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/home_view.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "main_templates/menubar.html" %}
    <section class="header">
        <div class="wrapper">
            {% for val in plant_members %}
                <div class="card" >
                    <div class="content-plant">
                        <h3>{{ val.name }}</h3>
                        <div class="detail">
                            <p>{{val.detail}}</p>
                        </div>
                        <div class="detail-ip">IP info >
                            <span class="tooltip">{{val.ip1}} {{val.ip2}} {{val.ip3}} {{val.ip4}}</span>
                        </div>
                        <!-- <h3 id="onMsg"></h3> -->
                    </div>
                    <div class="lines">
                        {% for item in '012345678901'|make_list %}
                        <div class="line-item" onclick="location.href='{% url 'line_view' 1 1 %}';">
                            <div class="item-header">
                                <span>Line {{ forloop.counter }}</span>
                                <h4>Amazon</h4>
                            </div>
                            <div class="item-status">
                                <p>Machine total : 9</p>
                                <div class="monitor">
                                    <label class="online">Online 6</label>
                                    <label class="status">Normal</label>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            
            
        </div>
    </section>
    
    <script>
        // var socket = new WebSocket('ws://localhost:8000/ws/app/');
        // // var socket = new WebSocket('ws://10.234.232.101:8000/ws/app/');
        // socket.onmessage = function(event){
        //     var msg = event.data;

        //     document.querySelector('#onMsg').innerText = msg;
        // }
    </script>
</body>
</html>