{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/line_view.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    {% include "main_templates/menubar.html" %}
    <section class="header">
        <h1>Line : {{line_name}}</h1>
        <div class="line-container">
            <div class="container">
                <div class="machine-field">
                    {% for val in line_row %}
                    <a href="{% url 'machine_view' plant_name line_name val.name %}">
                        <div class="machine">
                            <img class="machine-img" src="{{val.picturePath.url}}" alt=""/>
                            <div class="light-status" id="light-status{{val.deviceId}}">
                            </div>
                            <span>{{val.number}}.{{val.name}}</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <h1>Machine numbers sorting</h1>
            <div class="list-machines">
                    <table class="table-machines" id="table-machines">
                            <tr>
                                <th class="column-drag"></th>
                                <th>No.</th>
                                <th>DeviceId </th>
                                <th>Name</th>
                                <th>Device name</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Model</th>
                                <th>guid</th>
                                <th>URL</th>
                            </tr>
                            {% for val in line_row %}
                            <tr draggable="true" ondragstart="start()" ondragover="dragover()">
                                <td class="column-drag"><i class='bx bx-menu'></i></td>
                                <td>{{val.number}}</td>
                                <td>{{val.deviceId}}</td>
                                <td>{{val.name}}</td>
                                <td>{{val.deviceName}}</td>
                                <td>{{val.status}}</td>
                                <td class="td-hide-detail">{{val.type}}</td>
                                <td class="td-hide-detail">{{val.model}}</td>
                                <td class="td-hide-detail">{{val.guid}}</td>
                                <td class="td-hide-detail">{{val.url}}</td>
                            </tr>
                            {% endfor %}
                    </table>
            </div>
            
            <div class="panel-func">
                <button class="btn-set-lineup" onclick="location.href='{% url 'delete_data' plant_name line_name %}';"><i class='bx bx-folder-minus' ></i>&ensp;Delete Data</button>
                <button class="btn-set-lineup" onclick="showMachine()"><i class='bx bx-refresh'></i>&ensp;Load data from DIA</button>
                <button class="btn-set-lineup" id="btn-upload"><i class='bx bx-save' ></i>&ensp;Save</button>
            </div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        var socket = new WebSocket('ws://localhost:8000/ws/app/');

        socket.onmessage = function(e){
            raw_data = JSON.parse(e.data);
            ShowMachineStatus(raw_data);
        }


        var dataTable = {};
        var table = document.getElementById("table-machines");

        $(document).ready(function() {
        $("#btn-upload").on('click',function() {
            
            for(let i=1; i < table.rows.length; i++){

                var lineUpNo = table.rows[i].rowIndex;
                dataTable[String(lineUpNo)] = [];

                for(let j=2; j < table.rows[i].cells.length; j++){
                    var data = table.rows[i].cells[j].innerHTML;
                    
                    dataTable[String(lineUpNo)].push(data);
                }
            }

            $.ajax({
                type: "POST",
                url: "{% url 'set_line' plant_name line_name %}",
                data: JSON.stringify(dataTable),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Saved!");
                },
                error : function(xhr, errmsg, err) {
                        alert("Could not be saved!");
                    }
            });

            });
        });


        var row;
        function start(){  
        row = event.target; 
        }
        function dragover(){
        var e = event;
        e.preventDefault(); 
        
        let children= Array.from(e.target.parentNode.parentNode.children);
        
        if(children.indexOf(e.target.parentNode)>children.indexOf(row))
            e.target.parentNode.after(row);
        else
            e.target.parentNode.before(row);
        }

        function ShowMachineStatus(raw_data){
            for(let i =0; i < raw_data.length; i++){
                if(raw_data[i]['plant_name'] == "{{plant_name}}" ){
                    for(let j=0; j < raw_data[i]['line'].length; j++){

                        if(raw_data[i]['line'][j]['line_name'] == "{{line_name}}"){
                            for(let k=0; k < raw_data[i]['line'][j]['machine'].length; k++){
                                for(let l=0 ; l < raw_data[i]['line'][j]['machine'][k]['indicator'].length; l++){
                                    if(raw_data[i]['line'][j]['machine'][k]['indicator'][l]['indicator_name'] == "status"){

                                        var light_status = document.querySelector('#light-status'+ String(raw_data[i]['line'][j]['machine'][k]['deviceId']));
                                        switch(raw_data[i]['line'][j]['machine'][k]['indicator'][l]['value']) {
                                            case "0":
                                                // green
                                                light_status.innerHTML = `<div class="green-light on"></div>
                                                                        <div class="yellow-light off"></div>
                                                                        <div class="red-light off"></div>`;
                                                break;
                                            case "1":
                                                // red
                                                light_status.innerHTML = `<div class="green-light off"></div>
                                                                        <div class="yellow-light off"></div>
                                                                        <div class="red-light on"></div>`;
                                                break;
                                            default:
                                                // yellow
                                                light_status.innerHTML = `<div class="green-light off"></div>
                                                                        <div class="yellow-light on"></div>
                                                                        <div class="red-light off"></div>`;
                                                break;
                                                
                                            }
                                    }
                                }
                            }
                        }
                    }
                }
                }
        }

        function showMachine(){
            var table = document.querySelector('#table-machines');
            table.innerHTML = "";
            table.innerHTML += `
                            <tr>
                                <th class="column-drag">{{plant_name}}/{{line_name}}</th>
                                <th>No.</th>
                                <th>DeviceId</th>
                                <th>Name</th>
                                <th>Device name</th>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Model</th>
                                <th>guid</th>
                                <th>URL</th>
                            </tr>
            `;
            for(let i =0; i < raw_data.length; i++){

                if(raw_data[i]['plant_name'] == "{{plant_name}}" ){
                    for(let j=0; j < raw_data[i]['line'].length; j++){

                        if(raw_data[i]['line'][j]['line_name'] == "{{line_name}}"){
                            for(let k=0; k < raw_data[i]['line'][j]['machine'].length; k++){

                                table.innerHTML +=`
                                <tr draggable="true" ondragstart="start()" ondragover="dragover()">
                                    <td class="column-drag"><i class='bx bx-menu'></i></td>
                                    <td>${k}</td>
                                    <td>${raw_data[i]['line'][j]['machine'][k]['deviceId']}</td>
                                    <td>${raw_data[i]['line'][j]['machine'][k]['machine_name']}</td>
                                    <td>${raw_data[i]['line'][j]['machine'][k]['device_name']}</td>
                                    <td>${raw_data[i]['line'][j]['machine'][k]['status']}</td>
                                    <td class="td-hide-detail">${raw_data[i]['line'][j]['machine'][k]['type']}</td>
                                    <td class="td-hide-detail">${raw_data[i]['line'][j]['machine'][k]['model']}</td>
                                    <td class="td-hide-detail">${raw_data[i]['line'][j]['machine'][k]['guid']}</td>
                                    <td class="td-hide-detail">${raw_data[i]['line'][j]['machine'][k]['url']}</td>
                                </tr>
                                `;
                            }
                        }
                    }
                }
            }
        }
    </script>
</body>
</html>