{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/machine_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-css/display.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-css/form.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>Document</title>
</head>
<body onload="initialPage()">
    {% include "main_templates/menubar.html" %}
    <section class="header">
        <div class="content-item-view">
            <div class="head-container">
                <!-- Passing data to machine_view.js -->
                <input id="mcView_plantName"  type="hidden" value="{{plantInfo.name}}"/>
                <input id="mcView_lineName"  type="hidden" value="{{lineName}}"/>
                <input id="mcView_machineName"  type="hidden" value="{{machineName}}"/>
                <input id="mcView_ip_port"  type="hidden" value="{{ip_port}}"/>
                <input id="mcView_deviceId"  type="hidden" value="{{machineInfo.deviceId}}"/>
                <!-- Passing data to machine_view.js -->
                <div class="img">
                    <span class="tooltip">Click to upload</span>
                    {% if machineInfo.picturePath == "" %}
                    <img class="machine-img" src="{% static "img/default.png" %}" alt="" onclick="document.getElementById('upload-form').style.display='block'"/>
                    {% else %}
                    <img class="machine-img" src="{{ machineInfo.picturePath.url }}" alt="" onclick="document.getElementById('upload-form').style.display='block'"/>
                    {% endif %}
                </div>
                <div class="container-content">
                    <div class="header-info">
                        <h3 id="machineName" class="machineName"><span>{{lineName}}</span>{{machineInfo.name}}</h3>
                        <div class="header-status">
                            {% for indicator in indicator_members %}
                                {% if indicator.data_type == "STATUS" %}
                                    <input id="assTag{{indicator.tag_id}}"  type="hidden"/>
                                    <div class="container-status">
                                        <input id="indicator-status{{indicator.tag_id}}" type="hidden"/>
                                        <div id="status-green" class="indicator-status"></div>
                                        <div id="status-yellow" class="indicator-status"></div>
                                        <div id="status-red" class="indicator-status"></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div id="status" class="status">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="header-information">
                            <div class="box-info">
                                <span >Device :</span>
                                <span id="machineRname">{{machineInfo.deviceName}}</span>
                            </div>
                            <div class="box-info">
                                <span class="sp-info">Machine ID : </span>
                                <span id="machineID">{{machineInfo.deviceId}}</span>
                            </div>
                            <div class="box-info">
                                <span class="sp-info">IP : </span> 
                                <span id="machineIP">{{machineInfo.ip_camera}}</span>
                            </div>
                            <div class="box-info">
                                <span>Type : </span>  
                                <span id="type">{{machineInfo.type}}</span>
                            </div>
                            <div class="box-info">
                                <span class="sp-info">Model : </span> 
                                <span id="model">{{machineInfo.model}}</span>
                            </div>
                    </div>
                </div>
                <!-- Connection status -->
            </div>
            
            <section class="body-content">
                <div class="pnl box-camera">
                    <h5 class="head-pnl">RTSP camera</h5>
                    <img src="{% url 'camera_view' plantInfo.name lineName machineName %}" width="100%" height="470px" 
                    onerror="this.onerror=null; this.src='{% static 'img/camera-not-found.jpg' %}'" loading="lazy">
                    <div class="camera-info">
                        <div>
                            {% if machineInfo.ip_camera != "" %}
                            <span>IP camera : {{machineInfo.ip_camera}}</span>
                            <button onclick="document.getElementById('add-camera-form').style.display='block'">Edit</button>
                            {% else %}
                            <span>This machine have not been assigned an IP.</span>
                            <button onclick="document.getElementById('add-camera-form').style.display='block'">Assign</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="pnl vnc-viewer">
                    <!-- VNC viewer here -->
                    <h5>Remote viewer</h5>
                    <!-- <iframe src="http://localhost:8085/vnc.html?autoconnect=true&host={{vnc.host}}&port={{vnc.port}}&path={{vnc.path}}&password={{vnc.password}}&scallingmode=localscaling" width="100%" height="470px"></iframe> -->
                    <iframe src="http://localhost:8085/vnc.html?autoconnect=true&scale=auto&resize=scale&host=127.0.0.1&port=8086&path={{machineInfo.deviceName}}&password={{machineInfo.remote_password}}" width="100%" height="470px"></iframe>
                    
                    <div class="remote-info">
                        {% if machineInfo.remote_host != "hostname" %}
                            <span>Remote IP : {{machineInfo.remote_host}}</span>
                            <button onclick="document.getElementById('add-remote-form').style.display='block'">Edit</button>
                            {% else %}
                            <span>Remote IP have not been assigned</span>
                        <button onclick="document.getElementById('add-remote-form').style.display='block'">Assign</button>
                            {% endif %}
                        
                    </div>
                </div>        
            </section>
            <section class="analysis-content">
                <div class="pnl timeline-container">
                    <div class="hd">
                        <h2>Timeline</h2><span id="clock-time"></span>
                    </div>
                    <div id="timeline-id" class="timeline">
                        <div  id="timeline" style="width: 3000px; height: 100px;" ></div>
                    </div>    
                    <div class="timeline-detail">
                        <div class="time-limit">
                            <span>time start : 7:30</span>
                            <span>time end   : 7:30 on tomorrow</span>
                        </div>
                        <div class="option-control">
                            <button onclick="zoominTimeline()"><i class='bx bx-zoom-in bx-xs'></i></button>
                            <button onclick="zoomoutTimeline()"><i class='bx bx-zoom-out bx-xs' ></i></button>
                            <button onclick="refreshTimeline()"><i class='bx bx-refresh bx-xs'></i></button>
                            <button onclick="tonowTimeline()"><i class='bx bxs-arrow-to-right bx-xs'></i></button>
                            <button onclick="autofollowTimeline()" class="on" id="autofollow_btn"><i class='bx bx-play-circle'></i></button>
                        </div>
                        <div class="labels-des">
                            <span class="box-color normal"></span><span>Normal</span><br>
                            <span class="box-color pause"></span><span>Pause/Idle</span><br>
                            <span class="box-color error"></span><span>Error</span>
                            <span class="box-color empty"></span><span>Empty</span>
                        </div>
                    </div>
                </div>

                <!-- <div class="header-tags">
                    <h5 class="head-pnl">Error history</h5>
                    <button class="btn-add" id="clear-error" onclick="addrow()">test</button>
                </div>      -->
                
                <div class="pnl error-content-container">
                    <h2>Error history</h2>
                    <div class="error-container">
                        <div class="error-content">
                            <canvas id="error-count-chart" style="height: 320px;"></canvas>
                            <div class="filter-config">
                                <button class="btn" id="error-config-day" onclick="">Day</button>
                                <button class="btn" id="error-config-week" onclick="">Week</button>
                                <button class="btn" id="error-config-month" onclick="">Month</button>
                                <button class="btn" id="error-config-quarter" onclick="">Quarter</button>
                            </div>
                        </div>
                        <table class="table-error" id="table-error">
                            <thead>
                            <tr>
                                <th class="error-header-date">Date/Time</th>
                                <th class="error-header-code">ErrorCode</th>
                                <th class="error-header-des">Description</th>
                                <th class="error-header-counter">Counter</th>
                                <th class="error-header-addi">-</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- {--% for index in 1234567890123456789|make_list %}
                            <tr>
                                <td>0{{index}}/02/2023 14:05:39</td>
                                <td>{{index}}</td>
                                <td>{{index}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore saepe nisi eligendi. Sunt, nam praesentium.</td>
                                <td>{{index}}</td>
                                <td>{{index}} action do something Lorem ipsum dolor sit amet consectetur.</td>
                            </tr>
                            {--% endfor %} -->
                        </tbody>
                        </table>  
                    </div>
                </div>
                

                <div class="graph-content-container">
                    <div class="pnl tbs-content">
                        <h2>TBS</h2>
                        <canvas id="tbs-chart" style="height: 300px;"></canvas>
                        <div class="filter-config">
                            <button class="btn" id="tbs-config-day" onclick="tbsPlus()">Day</button>
                            <button class="btn" id="tbs-config-week" onclick="">Week</button>
                            <button class="btn" id="tbs-config-month" onclick="">Month</button>
                            <button class="btn" id="tbs-config-quarter" onclick="">Quarter</button>
                        </div>
                    </div>
                    <div class="pnl utilize-content">
                        <h2>Utilization</h2>
                        <canvas id="utilize-chart" style="height: 300px;"></canvas>
                        <div class="filter-config">
                            <button class="btn" id="util-config-day" onclick="sPlus()">Day</button>
                            <button class="btn" id="util-config-week" onclick="">Week</button>
                            <button class="btn" id="util-config-month" onclick="">Month</button>
                            <button class="btn" id="util-config-quarter" onclick="">Quarter</button>
                        </div>
                    </div> 
                    
                </div>
            </section>

            <section class="body-tags">
                <div class="pnl box-command-monitor">
                    <h5 class="head-pnl">Parameter monitoring</h5>
                    <div class="cmd-container">
                        <!-- Button generator -->
                        <div class="cmd-btn">
                            {% for indicator in indicator_members %}
                                {% if indicator.data_type == "STATUS" %}
                                    <!-- <input id="assTag{{indicator.tag_id}}"  type="hidden"/> -->
                                    <div class="container-status">
                                        <!-- <input id="indicator-status{{indicator.tag_id}}" type="hidden"/> -->
                                        <div id="status-green-monitor" class="indicator-status"></div>
                                        <div id="status-yellow-monitor" class="indicator-status"></div>
                                        <div id="status-red-monitor" class="indicator-status"></div>
                                    </div>
                                    <div class="text-status">
                                        <span id="text-indicator-status">Status</span>
                                    </div>
                                    <hr>
                                {% elif indicator.data_type == "BIT" and indicator.display == "BUTTON" %}
                                    <input id="assTag{{indicator.tag_id}}"  type="hidden"/>
                                    <input id="bTagValue{{indicator.tag_id}}" hidden/>
                                    <button id="btn-TagValue{{indicator.tag_id}}" class="btn-TagValue" style="--btn-color: {{indicator.color}};" onclick="WriteData('{{indicator.tag_id}}', 2)">{{indicator.tag_name}}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                        <!-- Text generator -->
                        <div class="cmd-text">
                            {% for e_msg in notification_error%}
                                    <input id="errorMsg{{e_msg.error_code}}"  type="hidden" value="{{e_msg.error_message}}"/>
                            {% endfor %}
                            {% for indicator in indicator_members %}
                                {% if indicator.data_type == "ERROR CODE" %}
                                    <input id="assTag{{indicator.tag_id}}"  type="hidden"/>
                                    <div class="text-error-code">
                                        <span>Error code</span>
                                        <input  id="errorCode{{indicator.tag_id}}"  value="" disabled/>
                                    </div>
                                    <div id="alert-container" class="alert-container">
                                    </div>  
                                {% elif indicator.data_type == "BIT" and indicator.display == "INDICATOR" %}
                                    <input id="assTag{{indicator.tag_id}}"  type="hidden"/>
                                    <div id="indicator{{indicator.tag_id}}" class="cmd-indicator OFF">
                                        <span>{{indicator.tag_name}}</span>
                                    </div>
                                {% elif indicator.data_type == "STRING" %}
                                    <input id="assTag{{indicator.tag_id}}"  type="hidden"/>
                                    <label>{{indicator.tag_name}}</label>
                                    <div class="cmd-text-send">
                                        <input type="text" id="mTagValue{{indicator.tag_id}}"/>
                                        <button onclick="WriteData('{{indicator.tag_id}}', 1)">Send</button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
                <div class="box-machineView">
                    <div class="header-tags">
                        <h5 class="head-pnl">Tag index</h5>
                        <button class="btn-add" id="addTag" onclick="openDIAPage('{{dia_url}}')">DIA Link page</button>
                    </div>
                    <div class="pnl table-container">
                        <table class="table-tag" id="table-tag">
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Data type</th>
                                <th>Tag ID</th>
                                <th>Register</th>
                                <th>Value</th>
                                <th class="td-indicator">Option</th>
                            </tr>
                        </table>
                    </div>
                </div> 
            </section>
        </div>
    </section>
    <!-- Add Romote IP -->
    <div id="add-remote-form" class="add-remote-form">
        <form action="{% url 'update_config' plantInfo.name lineName machineName  %}" method="post">
            {% csrf_token %}
            <div class="add-remote-container">
                <div class="add-remote-content">
                    <h1>Add Remote</h1>
                    <label for="remote_host">Host name : </label><input type="text" id="remote_host" name="remote_host" placeholder="{{machineInfo.remote_host}}"/><br><br>
                    <label for="remote_password">Password : </label><input type="text" id="remote_password" name="remote_password" placeholder="{{machineInfo.remote_password}}"/>
                    <hr>
                    <input type="submit" value="Save" >
                    <input type="button" value="Cancel" onclick="document.getElementById('add-remote-form').style.display='none'">
                </div>
            </div>
        </form>
    </div>
    <!-- Add RTSP IP Camera -->
    <div id="add-camera-form" class="add-camera-form">
        <form action="/assign_camera/pt{{plantInfo.name}}ln{{lineName}}mc{{machineName}}/" method="post">
            {% csrf_token %}
            <div class="add-camera-container">
                <div class="add-camera-content">
                    <h1>Add IP camera</h1>
                    <label for="ip_camera">IP Address : </label><input type="text" id="ip_camera" name="ip_camera" placeholder="{{machineInfo.ip_camera}}"/>
                    <hr>
                    <input type="submit" value="Save" >
                    <input type="button" value="Cancel" onclick="document.getElementById('add-camera-form').style.display='none'">
                </div>
            </div>
        </form>
    </div>
    <!-- Delete Tag Confirmable windows -->
    <div id="confirmForm" class="confirmForm">
    </div>
    <!-- upload image form -->
    <div id="upload-form" class="upload-form">
        <div class="upload-form-container">
            <div class="form-update">
                <h2>Upload image file</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <hr>
                    <input type="submit" value="Upload" >
                    <input type="button" value="Cancel" onclick="document.getElementById('upload-form').style.display='none'">
                </form>
            </div>
        </div>
    </div>
    <!-- Assign INdicator form -->
    <div id="assignForm" class="form">
        <form action="/assign_indicator/pt{{plantInfo.name}}ln{{lineName}}mc{{machineName}}/" method="post">
            <div class="form-container">
                <div class="form-content">
                    {% csrf_token %}
                    <h2>Indicator assignment</h2>
                    <strong>information</strong><br>
                    <div class="form-info">
                        <label>Tag name : </label><input type="text" id="tagName" name="tagName" />
                        <label>Tag ID : </label><input type="text" id="tagID" name="tagID" />
                        <label>Register : </label><input type="text" id="register" name="register" />
                        <hr>
                    </div>
                    <strong>Data type</strong>
                    <select id="data_type" name="data_type" onchange="getDataType()">
                        <option value="">-</option>
                        <option value="BIT">BIT</option>
                        <option value="STRING">STRING</option>
                        <option value="STATUS">STATUS</option>
                        <option value="ERROR CODE">ERROR CODE</option>
                    </select>
                    <div id="datatype_bit" style="display: none;">
                        <strong>Display type</strong>
                        <select id="display_type" name="display_type_bit">
                            <option value="BUTTON">BUTTON</option>
                            <option value="INDICATOR">INDICATOR</option>
                        </select>
                        <strong>Color</strong>
                            <div>
                                <input type="radio" id="c1" name="color" value="#3282B8" checked/>
                                <input type="color" id="btn_color1" name="color" value="#3282B8" disabled/>
                                <label for="c1">Blue</label>
                                <br>
                                <input type="radio" id="c2" name="color" value="#50a920" />
                                <input type="color" id="btn_color2" name="color" value="#50a920" disabled/>
                                <label for="c2">Green</label>
                                <br>
                                <input type="radio" id="c3" name="color" value="#f9d922" />
                                <input type="color" id="btn_color3" name="color" value="#f9d922" disabled/>
                                <label for="c3">Yellow</label>
                                <br>
                                <input type="radio" id="c4" name="color" value="#e52d24" />
                                <input type="color" id="btn_color4" name="color" value="#e52d24" disabled/>
                                <label for="c4">Red</label>
                              </div>
                    </div>
                    <div id="datatype_text" style="display: none;">
                        <strong>Display type</strong>
                        <select id="display_type" name="display_type_text">
                            <option value="NUMBER">NUMBER</option>
                            <option value="TEXT">TEXT</option>
                        </select>
                    </div>
                    <hr>
                    <div class="clearfix">
                        <button id="btn-add" class="add" type="submit" style="display: none;">Add</button>
                        <button class="cancel" type="button" onclick="document.getElementById('assignForm').style.display='none'">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.1.0"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.2.1/chartjs-plugin-annotation.min.js" integrity="sha512-qF3T5CaMgSRNrxzu69V3ZrYGnrbRMIqrkE+OrE01DDsYDNo8R1VrtYL8pk+fqhKxUBXQ2z+yV/irk+AbbHtBAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/Chart_graph.js' %}"></script>
    <script src="{% static 'js/machine_view.js' %}"></script>
    <script>

    var raw_data_error;
    var widthTimeline = 1500;
    // Add days to next day
    Date.prototype.addDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() + days);
    return date;
    }
    // console.log(date.addDays(16));

    var date = new Date();
    let timeReset = new Date();
    timeReset.setHours(7, 30, 0, 0);
    timeReset.setDate(timeReset.getDate() + 1);
    let timeStart = new Date();
    timeStart.setHours(7, 30, 0, 0);


    var currentDate = ((date.getDate() < 10)?"0":"") + date.getDate() +'/' + (((date.getMonth()+1) < 10)?"0":"") + (date.getMonth()+1) +'/' + date.getFullYear();
    var currentTime = ((date.getHours() < 10)?"0":"") + date.getHours() +':' + ((date.getMinutes() < 10)?"0":"") + date.getMinutes() +':' + ((date.getSeconds() < 10)?"0":"") + date.getSeconds();
    var datetime = 'Date: ' + currentDate + ' - Time: ' + currentTime;
    console.log(timeStart);
    console.log(timeReset);
var barColors = [ 'rgba(0, 40, 140, 0.6)','rgba(160, 1, 60, 0.6)','rgba(150, 230, 250, 0.6)','rgba(255, 170, 0, 0.6)','rgba(150, 230, 190, 0.6)', 'rgba(0, 130, 35, 0.6)'];

var socket_graph = new WebSocket('ws://localhost:8000/ws/graph/');

socket_graph.onmessage = function(e){
    date = new Date();
    raw_data_error = JSON.parse(e.data);
    updateErrorTable(raw_data_error);
    updateTimeline(raw_data_error);
}
function updateErrorTable(rw){
    var raw = rw[0]["error-history"];
    var errorTable = document.getElementById("table-error");

    errorTable.innerHTML = `
    <thead>
        <tr>
            <th class="error-header-date">Date/Time</th>
            <th class="error-header-code">ErrorCode</th>
            <th class="error-header-des">Description</th>
            <th class="error-header-counter">Counter</th>
            <th class="error-header-addi">-</th>
        </tr>
    </thead>`;

    // errorTable.innerHTML = "";
    for(let i =0; i < raw.length; i++){
        if(plantName == raw[i]["plant_name"] && lineName == raw[i]["line_name"] && machineName == raw[i]["machine_name"]){
            var new_row = errorTable.insertRow(1);
            var date_cell = new_row.insertCell(0);
            var errorCode_cell = new_row.insertCell(1);
            var des_cell = new_row.insertCell(2);
            var count_cell = new_row.insertCell(3);
            var add_cell = new_row.insertCell(4);
            date_cell.innerHTML = raw[i]["datetime"].split('.')[0];
            errorCode_cell.innerHTML = raw[i]["error_code"];
            des_cell.innerHTML = raw[i]["error_message"];
            count_cell.innerHTML = "999";
            add_cell.innerHTML = "";
        }
        
    }
}
function updateTimeline(rw){
    
    var dtTimeline = []
    var raw = rw[0]["timeline"];
    var this_data = [];
    for(let i = 0; i < raw.length ; i++){
        if(plantName == raw[i]["plant_name"] && lineName == raw[i]["line_name"] && machineName == raw[i]["machine_name"]){
            this_data.push(raw[i]);
        }
    }

    if(this_data.length > 0){
        for(let i =0; i < this_data.length; i++){
            const time1 = this_data[i]["datetime"];
            const timeIndex1 = new Date(time1);
            // timeIndex1.setHours(timeIndex1.getHours() - 7);
            timeIndex1.setHours(timeIndex1.getHours());

            if(timeStart.getTime() < timeIndex1.getTime()){
                    if(i == this_data.length - 1){
                        dt = [
                            [ 'Status',  this_data[i]["status"], createCustomTooltip(timeIndex1, date, this_data[i]["status"], this_data[i]["error_code"]), timeIndex1, date ],
                            // [ 'Status',  '-', createCustomTooltip(date, timeReset), date, timeReset ],
                        ];
                        dtTimeline.push(dt);
                    }
                    else{
                        const time2 = this_data[i+1]["datetime"];
                        const timeIndex2 = new Date(time2);
                        // timeIndex2.setHours(timeIndex2.getHours() - 7);
                        timeIndex2.setHours(timeIndex2.getHours());
                        dt = [
                            [ 'Status',  this_data[i]["status"], createCustomTooltip(timeIndex1, timeIndex2, this_data[i]["status"], this_data[i]["error_code"]), timeIndex1, timeIndex2 ],
                            // [ 'Status',  'Idle', createCustomTooltip(date, timeReset), date, timeReset ],
                        ];
                        dtTimeline.push(dt);
                    }
            }
        }
        drawChart(dtTimeline)
    }
    else{
        console.log("Timeline not exist in database!");
    }
    
}

// Timeline bar **************************************************************
google.charts.load('current', {'packages':['timeline']});
google.charts.setOnLoadCallback(drawChart);

function drawChart(dt) {

    let ini_normal =  new Date();
    let ini_error =  new Date()
    let ini_pause =  new Date()
    let ini_idle =  new Date()
    let ini_idle_end =  new Date()

        ini_normal.setHours(7, 30, 0, 1);
        ini_error.setHours(7, 30, 0, 2);
        ini_pause.setHours(7, 30, 0, 3);
        ini_idle.setHours(7, 30, 0, 4);
        ini_idle_end.setHours(7, 30, 0, 5);


        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Status' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'string', role: 'tooltip' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
            //Color Setting
          [ 'Status', 'Normal', '', ini_normal, ini_error ],
          [ 'Status', 'Error', '',    ini_error, ini_pause ],
          [ 'Status',  'Pause', '', ini_pause, ini_idle ],
          [ 'Status',  '-', '', ini_idle, ini_idle_end ],
          [ 'Status',  '-', createCustomTooltip(date, timeReset, "-", "-"), date, timeReset ],
            //
        ]);
        if(dt != null){
            var rowCount = dataTable.getNumberOfRows();

            dataTable.removeRow(rowCount -1)
            for(let index = 0; index < dt.length ; index++){
                dataTable.addRows(dt[index]);
            }
            
        }
        

        var options = {
            tooltip: {isHtml: true},
            colors: ['#008223', '#FC0000', '#FFA700', '#5A5A5A'],
            timeline: { 
                groupByRowLabel: true ,
                showRowLabels: false,
                showBarLabels: false}
        };
        chart.draw(dataTable, options);
}

function createCustomTooltip(start_time, end_time, status,errorCode) {
        var diff = Math.round((end_time - start_time) / 1000);
        var duration = new Date(diff * 1000).toISOString().substr(11, 8);
        var headerToolTip = ""
        switch (status){
            case "Normal":
                headerToolTip = '<strong style="color: #008223;">Normal</strong>';
                break;
            case "Pause":
                headerToolTip = '<strong style="color: #FFA700;">Pause</strong>';
                break;
            case "Error":
                headerToolTip = '<strong style="color: #FC0000;">errorCode: '+ errorCode +'</strong>';
                break;
            default:
                headerToolTip = '<strong>--</strong>';
                break;
        }
            return '<div style="padding: 10px; width:150px; z-index: 10;">'+ headerToolTip + '<hr style="margin: 0;">Start: '
                + ((start_time.getHours() < 10)?"0":"") + start_time.getHours() +':'
                + ((start_time.getMinutes() < 10)?"0":"") + start_time.getMinutes()  +':'
                + ((start_time.getSeconds() < 10)?"0":"") + start_time.getSeconds() +
                '<br>End:&nbsp;&nbsp;&nbsp;'
                + ((end_time.getHours() < 10)?"0":"") + end_time.getHours() +':'
                + ((end_time.getMinutes() < 10)?"0":"") + end_time.getMinutes()  +':'
                + ((end_time.getSeconds() < 10)?"0":"") + end_time.getSeconds() + '<br>Duration: '+ duration +'</div>';
}


// Initialized Data
var tbs_labels = [1, 2, 3, 4, 5, 6, 7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30];
var tbs_raw_data = [8, 59, 80, 81, 56, 55, 40, 65, 40, 35, 20, 8, 55, 40,20, 35, 70, 65, 62, 40, 55, 10, 12, 25, 35, 45, 68, 0];
var util_labels = [1, 2, 3, 4, 5, 6, 7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30];
var util_raw_data = [8, 59, 80, 81, 56, 55, 40, 65, 40, 35, 20, 8, 55, 40,20, 35, 70, 65, 62, 40, 55, 10, 12, 25, 35, 45, 68, 0];



        // Error Counting *************************************************
        var labels = ["20", "1", "150", "60", "12"];

        new Chart("error-count-chart", {
        type: "bar",
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'Dec',
                    backgroundColor: barColors[0],
                    data: [150, 80, 70,20,7]
                },
                {
                    label: 'Jan',
                    backgroundColor: barColors[1],
                    data: [90, 80, 70,20,7]
                },
                {
                    label: 'Feb',
                    backgroundColor: barColors[2],
                    data: [120, 55, 42,13,0]
                },
                {
                    label: 'Mar',
                    backgroundColor: barColors[3],
                    data: [20, 60, 31,10,0]
                }
            ]
        },
        options: {
            plugins: {
            // title: {
            //     display: true,
            //     text: 'Top 5 : Error counting'
            // }
            },
            scales: {
                    y: {
                    beginAtZero: true
                    }
                }
            }
        });
        // TBS  *************************************************
        
        var x = 0;
            function tbsPlus(){
                x = x + 1;
                tbsChart.data.datasets[0].data[1] = x;
                console.log(x);
                tbsChart.update();
            }
            
        var tbs_ctx = document.getElementById('tbs-chart');
        const tbs_data = {
            labels: tbs_labels,
            datasets : [{
                label: 'data',
                data: tbs_raw_data,
                fill: false,
                borderColor: barColors[0],
                tension: 0.1
            }]
        }
        const tbs_config = {
            type: "line",
            data: tbs_data,
            options:{
                scales:{
                    y:{
                        beginAtZero: true
                    }
                },
                plugins: {
                    annotation: {
                        annotations: {
                            line1: {
                                adjustScaleRange: true,
                                drawTime: 'afterDatasetsDraw',
                                type: 'line',
                                scaleID: 'y',
                                value: 240,
                                borderColor: 'rgba(255, 99, 132)',
                                backgroundColor: 'rgba(255, 99, 132)'
                        }
                    }
                }   
            }
        }
    }
        const tbsChart = new Chart(tbs_ctx, tbs_config);
        
        // Utilization  *************************************************
        var x = 0;
            function sPlus(){
                x = x + 1;
                utilChart.data.datasets[0].data[1] = x;
                console.log(x);
                utilChart.update();
            }

        var util_ctx = document.getElementById('utilize-chart');
        const util_data = {
            labels: util_labels,
            datasets : [{
                label: 'data',
                data: util_raw_data,
                fill: false,
                borderColor: barColors[0],
                tension: 0.1
            }]
        }
        const util_config = {
            type: "line",
            data: util_data,
            options:{
                scales:{
                    y:{
                        beginAtZero: true
                    }
                },
                plugins: {
                    annotation: {
                        annotations: {
                            line1: {
                                adjustScaleRange: true,
                                drawTime: 'afterDatasetsDraw',
                                type: 'line',
                                scaleID: 'y',
                                value: 60,
                                borderColor: 'rgba(255, 99, 132)',
                                backgroundColor: 'rgba(255, 99, 132)'
                        }
                    }
                }   
            }
        }
    }
        const utilChart = new Chart(util_ctx, util_config);

    </script>
</body>
</html>