{% load static %}Online
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/machine_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-css/display.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "main_templates/menubar.html" %}
    <section class="header">
        <div class="content-item-view">
            <div class="head-container">
                <div class="img">
                    <span class="tooltip">Click to upload</span>
                    <img class="machine-img" src="{{ machineInfo.picturePath.url }}" alt="" onclick="showUploadForm()"/>
                </div>
                <div class="container-content">
                    <div class="header-info">
                        <h3 id="machineName" class="machineName">{{machineInfo.name}}</h3>
                        <div class="header-status">
                            <div id="status" class="status">
                                
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="header-information">
                            <div class="box-info">
                                <span >Device :</span>
                                <span id="machineRname">{{machineInfo.deviceName}}</span>
                            </div>
                            <div class="box-info">
                                <span class="sp-info">Machine ID : </span>
                                <span id="machineID">{{machineInfo.deviceId}}</span>
                            </div>
                            <div class="box-info">
                                <span class="sp-info">IP : </span> 
                                <span id="machineIP">{{machineInfo.ip_camera}}</span>
                            </div>
                            <div class="box-info">
                                <span>Type : </span>  
                                <span id="type">{{machineInfo.type}}</span>
                            </div>
                            <div class="box-info">
                                <span class="sp-info">Model : </span> 
                                <span id="model">{{machineInfo.model}}</span>
                            </div>
                    </div>
                </div>
                <!-- Connection status -->
            </div>
            
            <section class="body-content">
                <div class="pnl box-camera">
                    <h5 class="head-pnl">RTSP camera</h5>
                    <img src="" width="100%" height="470px" 
                    onerror="this.onerror=null; this.src='{% static 'img/camera-not-found.jpg' %}'" loading="lazy">
                    <div class="camera-info">
                        <div>
                            {% if data_camera == "Exist" %}
                            <span>IP camera : {{camera_ip}}.</span>
                            {% else %}
                            <span>This machine have not been assigned an IP.</span>
                            <button>Assign</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="pnl box-command-monitor">
                    <h5 class="head-pnl">Monitor & Controller</h5>
                    <div class="cmd-container">
                        <!-- Button generator -->
                        <div class="cmd-btn">
                            
                        </div>
                        <hr>
                        <!-- Text generator -->
                        <div class="cmd-text">
                            <!-- Indicator generator -->

                        </div>
                    </div>
                    
                </div>        
            </section>

            <section class="body-tags">
                <div class="pnl box-machineView">
                    <div class="header-tags">
                        <h5 class="head-pnl">Tag members</h5>
                        <button class="btn-add" id="addTag" onclick="openDIAPage('{{dia_url}}')">DIA Link page</button>
                    </div>
                    <div class="table-container">
                        <table class="table-tag" id="table-tag">
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Data type</th>
                                <th>Tag ID</th>
                                <th>Register</th>
                                <th>Value</th>
                                <th class="td-indicator">Indicator</th>
                            </tr>
                    </div>
                </div> 
            </section>
        </div>
    </section>
    <div id="upload-form" class="upload-form">
    </div>
    <script>
        var socket = new WebSocket('ws://localhost:8000/ws/app/');

        socket.onmessage = function(e){
            raw_data = JSON.parse(e.data);
            ShowMachineTags(raw_data);
        }

        function ShowMachineTags(data){
            var table = document.querySelector('#table-tag');
            table.innerHTML = "";
            table.innerHTML += `
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Data type</th>
                                <th>Tag ID</th>
                                <th>Register</th>
                                <th>Value</th>
                                <th class="th-indicator">Indicator</th>
                            </tr>
            `;
            for(let i =0; i < raw_data.length; i++){
                if(raw_data[i]['plant_name'] == "{{plantInfo.name}}" ){
                    for(let j=0; j < raw_data[i]['line'].length; j++){

                        if(raw_data[i]['line'][j]['line_name'] == "{{lineName}}"){
                            for(let k=0; k < raw_data[i]['line'][j]['machine'].length; k++){

                                if(raw_data[i]['line'][j]['machine'][k]['machine_name'] == "{{machineName}}"){

                                    var status = document.querySelector('#status');
                                    status.innerHTML = ``;
                                    if(raw_data[i]['line'][j]['machine'][k]['status'] == 1){
                                        status.innerHTML += `<div class="display small Online"><label>Online</label></div><span>on DIA Link</span>`;
                                    }
                                    else{
                                        status.innerHTML += `<div class="display small Offline"><label>Offline</label></div><span>on DIA Link</span>`;
                                    }

                                    for(let l=0 ; l < raw_data[i]['line'][j]['machine'][k]['indicator'].length; l++){
                                    table.innerHTML +=`
                                        <tr draggable="true" ondragstart="start()" ondragover="dragover()">
                                            <td>${l}</td>
                                            <td>${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['indicator_name']}</td>
                                            <td>${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['gp']}</td>
                                            <td>${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['tid']}</td>
                                            <td>${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['register']}</td>
                                            <td>${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['value']}</td>
                                            <td class="td-indicator">
                                                <button id="btn-assigned${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['tid']}" class="btn-assigned" onclick="">Unassigned</button>
                                                <button id="btn-p-assigned${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['tid']}" class="btn-p-assigned" onclick="" style="display: none; background-color: #ccc; cursor: default;" disabled>Assigned</button>
                                                <button id="btn-deleted${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['tid']}" class="btn-deleted" onclick="" style="display: none; background-color: rgb(211, 51, 51); margin-left: 5px;"><i class='bx bx-trash' ></i></button>
                                                <div class="pnl-write-data">
                                                <button class="btn-tag-write" id='WriteData' onclick="">Write Data</button>
                                                <input class="tag-add-value" id="TagValue${raw_data[i]['line'][j]['machine'][k]['indicator'][l]['tid']}"/>
                                                </div>
                                            </td>
                                        </tr>
                                    `;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        function showUploadForm(){
            document.getElementById('upload-form').style.display = "block";
            document.querySelector('#upload-form').innerHTML = 
            `<div class="upload-form-container">
                <div class="form-update">
                    <h2>Upload image file</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <input type="submit" value="Upload" >
                        <input type="button" value="Cancel" onclick="document.getElementById('upload-form').style.display='none'">
                    </form>
                </div>
            </div>`;
        }
        function openDIAPage(url){
            window.open(url, "DIA Link web","width=1000,height=600");
        }
    </script>
</body>
</html>